div.row
     div.class("sixteen columns")
        div.offset-by-two
            div(class="twelve columns alpha")

                div.nav-text
                    a(href="/admin/add") Add a Job

                div.nav-text Editing and deleting posts coming soon....

