
p Apply test form

form(method='post', action='/apply')
    label Name: 
        input(type="text", name="name")
    
    label email:
        input(type="text", name="email")
    
    label about:
        input(type="text", name="about")
    
    label req:
        input(type="text", name="req")
    
    label egg:
        input(type="text", name="egg")
    
    label geeklist:
        input(type="text", name="geeklist")
    
    label stack overflow:
        input(type="text", name="stackoverflow")
    
    label github:
        input(type="text", name="github")
    
    label coderwall:
        input(type="text", name="coderwall")
    
    
    
    input(type="submit", value="Submit")     span 
        