h4 Apply test form

form(method='post', action='/apply')
    input(type="text", name="name")
    br
    input(type="text", name="email")
    br
    input(type="text", name="about")
    br
    input(type="text", name="req")
    br
    
    input(type="submit", value="Submit")     