div.greeting Hi Developers!

div.text So you want to move to the front of the line huh?  Well, ok. Here's how:
div.text Send a POST to:

div.code http://apply.turner.com/apply

div.text set the content-type to
span.ct application/json
div.text and the body as valid JSON with the following keys:
div.code
    div.text Name: Your full name
    div.text Email: Your email address
    div.text Req: The Req number from the job posting on turner.com/jobs
    div.text About: A little bit of info about you
    div.text [Urls]: An array of urls to public profiles you want us to check out \(github, geekli.st, coderwall)

h3 Achevements
ul
    li curl it: Moves you to the top of the pile
    li call it: Build a client - bonus points
    li fork it: Improve the server - bonus++
    li find it: There's an easter egg, find it to level up!


p todo: add link to github repo


