
div.row
  div(class="sixteen columns")
    div.offset-by-two
      div(class="twelve columns alpha")
        div.dev-info
            p So you found a job you're interested in? That's great.  Most people would follow the link in the description to the Turner Jobs website, upload your resume, and wait; but you're not most people.

            p If you want to get a jump on the competition, we have a couple of excerzices for you.  The more you do, the further to the front of the line you will jump.  


            div.levelup Achevements
            ul
                li <span class="emph">cURL It:</span> Invoke the api below via cURL \(or your favorite URL-invoking mechinism). Fill in as many of the parameters as you can.
                li <span class="emph">Call It:</span> Rather than use cURL, build a simple client using your technology of choice.  Once you do that, throw it on github and send us a link via the api.
                li <span class="emph">Fork It:</span> Like any other open source project, this can be improved. You can find the source here. Fork it, make some improvements, and send a pull request.  
                li <span class="emph">Find It:</span> There's an easter egg, find it to level up!


            div.levelup I got it!, so now how do I get started?
            div Send a POST to:

            pre http://apply.turner.com/apply

            div and set the content-type to
            pre application/json
            
            div.text and the body as valid JSON with the following keys \(bold means required):
            pre
                div.required Name: Your full name
                div.required Email: Your email address
                div.required Req: The Req number from the job posting.
                div.required About: A little bit of info about you
                div Geeklist: Your geekli.st profile name
                div Stack Overflow: Your Stack Overflow profile name
                div Github: Your Github profile name
                div Coder Wall: Your Coder Wall profile name
                div [Urls]: An array of urls to additional public profiles


            div.credit Thanks to  
                    span 
                        a(href="http://www.parse.com") Parse. 
                    span for this idea. They do cool stuff, you should check them out.



script
    $(document).ready(function() {
       $('#home').attr('class', 'not');
       $('#devs').attr('class', 'active');
       $('#design').attr('class', 'not');
        
    });
