p todo: add info about why we do this

p todo: add info about how do to this 

div achevments
ul
    li curl it: moves you to the top of the pile
    li build a client - bonus points
    li fork and improve the server - bonus++

p todo: add api doc

p todo: add link to github repo

form(method='post', action='/apply')
    input(type="text", name="fname")
    input(type="text", name="lname")
    input(type="submit", value="Submit")     