
div.row
    div(class="sixteen columns")
        div.tryptic
            div.offset-by-two
                div(class="four columns alpha")
                    div.col-header We love new technologies
                    div.col-text When you build software if you're standing still, you going to get run over. We foster an environment that allows you to grow your skills over time, and work with cutting-edge technologies.
                div(class="four columns alpha")
                    div.vertLine
                        div.col-header We're not a startup...
                        div.col-text ...and we're good with that.  While we don't have free soda machines, we have things like a crazy 401k match, great health benifits, free Braves/Hawks tickets, and a nice work/life balance.
                div(class="four columns alpha")
                    div.vertLine
                        div.col-header We love social coding
                        div.col-text These days, there are so many ways to network with your fellow coders. You can help \(github, codeplex), critique \(stack overflow, dribbble), or show off \(geekli.st, coderwall). We love devs who love social coding.
        

div.row
    div(class="sixteen columns")
        div.jobs-container 
            div Turner is a big place, and as such not every group uses this site to advertize thier jobs. That's their loss.  We're looking for the best developers we can find, and we hope this site <span class="ital">helps you find us.</span>
            div(style="margin-top: 12px") If one of the jobs below doesn't look like a good fit for you, please visit <a class="jobslink" href="http://www.turner.com/careers"> the main Turner Jobs site.</a> 
            
            if positions.count > 0
                ul.job-list
                    each p in positions
                        li
                            a(href="/job/#{p.req}", class="job")
                                div.title= p.title
                                div.job-text= p.subtitle
            else
                div.sorry-text Check back soon!  We're fully staffed, but that won't last forever.

            br

    
script
    $(document).ready(function() {
       $('#home').attr('class', 'active');
       $('#devs').attr('class', 'not');
       $('#design').attr('class', 'not');
        
    });