p todo: add info about why we do this

p todo: add info about how do to this 

p Turner is a big place, and as such not every group uses this as a mechinism for candidate applications.  Check out the list below for qualifing positions:

if positions
    ul
    each p in positions
        - var t = p.title + ' ' + p.req + ' ' + p.url;
        li= t
br

