
div.row
    div(class="sixteen columns")
        div.tryptic
            div.offset-by-two
                div(class="four columns alpha")
                    div.col-header Your role will shape turner
                    div.col-text This is some text that will go under the headline.  it should be sort of long, but since this is just a test it's no big deal
                div(class="four columns alpha")
                    div.vertLine
                        div.col-header Your role will shape turner
                        div.col-text This is some text that will go under the headline.  it should be sort of long, but since this is just a test it's no big deal
                div(class="four columns alpha")
                    div.vertLine
                        div.col-header Your role will shape turner
                        div.col-text This is some text that will go under the headline.  it should be sort of long, but since this is just a test it's no big deal
        

div.row
    div(class="sixteen columns")
        div.jobs-container 
            div.text Turner is a big place, and as such not every group uses this as a mechanism for candidate applications.  Check out the list below for qualifying positions:

            if positions
                ul.job-list
                    each p in positions
                        li
                            a(href="/job/#{p.req}", class="job")
                                div.title= p.title
                                div.job-text= p.subtitle
            else
                div.sorry-text Sorry, EA doesn't have any openings at this time.  Please check turner.com/jobs for positions in other area of Turner.

            br

    
script
    $(document).ready(function() {
       $('#home').attr('class', 'active');
       $('#devs').attr('class', 'not');
       $('#design').attr('class', 'not');
        
    });